@use "@fontsource/inter/scss/mixins" as Inter;
@include Inter.fontFaceVariable(
  $fontName: "Inter",
  $fontDir: "@fontsource/inter/files",
  $type: "full"
);

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  @apply w-full h-full overscroll-none pointer-events-none bg-transparent;
}

body {
  background: var(--background);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
